.balance_card{ 
    text-align: center;
    min-height: 100px;
    max-height: 100px;
    background-image: linear-gradient(to bottom right, rgb(1, 71, 24), rgb(7, 139, 73));
}
.balance_caption {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.debt {
    color: red;
}
.receive {
    color: green;
}
ion-button {
    width: 100%;
}
ion-list {
    max-height: 75%;
    overflow-y: scroll;
}