.add_member {
    display: flex;
    justify-content: center;
}
.add_member > h6 {
    font-weight: bold;
    
}
.add_member_icon {
    font-size: 40px;
    color: rgb(13, 13, 146);
}
.add_member_container {
    margin-top: 20vh;
}
