<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>invite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="invite(form)">
    <ion-item lines="full">
      <ion-label position="floating">First Name</ion-label>
      <ion-input name="firstName" ngModel type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input name="lastName" ngModel type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" ngModel type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block" [disabled]="form.invalid">Invite</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
